@import "~bootstrap/scss/bootstrap";


html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #fff5fa;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #ffe9ed;
  }
  
  .footer .container {
    margin-top: 20px;
  }
  
  
  /* Other styles
  -------------------------------------------------- */
  
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 75px;
    padding-bottom: 20px;
  }
  
  .navbar-brand {
    font-size: 28px;
  }
  
  .list-group-item.bigger {
    font-size: 18px;
  }
  
  .list-group-item.bigger .badge {
    margin-top: 1px;
    font-size: 16px;
  }
  
  /*
  .list-group-item .badge {
    margin-top: 1px;
    font-size: 16px;
  }
  */
  
  
  /* Re-color navbars
  -------------------------------------------------- */
  .navbar-light {
    background-color: #ff809d;
    border-color: #d0103c;
  }
  .navbar-light .navbar-brand {
    color: #f9ebee;
  }
  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-brand:focus {
    color: #6efbb7;
  }
  .navbar-light .navbar-text {
    color: #f9ebee;
  }
  .navbar-light .navbar-nav > li > a {
    color: #f9ebee;
  }
  .navbar-light .navbar-nav > li > a:hover,
  .navbar-light .navbar-nav > li > a:focus {
    color: #6efbb7;
  }
  .navbar-light .navbar-nav > .active > a,
  .navbar-light .navbar-nav > .active > a:hover,
  .navbar-light .navbar-nav > .active > a:focus {
    color: #6efbb7;
    background-color: #d0103c;
  }
  .navbar-light .navbar-nav > .open > a,
  .navbar-light .navbar-nav > .open > a:hover,
  .navbar-light .navbar-nav > .open > a:focus {
    color: #6efbb7;
    background-color: #d0103c;
  }
  .navbar-light .navbar-toggler {
    border-color: #d0103c;
  }
  .navbar-light .navbar-toggler:hover,
  .navbar-light .navbar-toggler:focus {
    background-color: #d0103c;
  }
  .navbar-light .navbar-toggler .icon-bar {
    background-color: #f9ebee;
  }
  .navbar-light .navbar-collapse,
  .navbar-light .form-inline {
    border-color: #f9ebee;
  }
  .navbar-light .navbar-link {
    color: #f9ebee;
  }
  .navbar-light .navbar-link:hover {
    color: #6efbb7;
  }
  
  @media (max-width: 767px) {
    .navbar-light .navbar-nav .open .dropdown-menu > li > a {
      color: #f9ebee;
    }
    .navbar-light .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-light .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #6efbb7;
    }
    .navbar-light .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-light .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-light .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #6efbb7;
      background-color: #d0103c;
    }
  }
  
  #channelSelector {}
  
  .modal-body {
    overflow-x: auto;
  }
  