@import "~bootstrap/scss/bootstrap";


html, 
body {
    height: 100%;
}

.selectableItem{
    border: 2px solid !important;
}

img {
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

#appbody {
  cursor: none !important;
}