@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #fff5fa;
  padding-top: 75px;
  padding-bottom: 20px;
}
.navbar-light {
  background-color: #ff809d;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffe9ed;
  .container {
    margin-top: 20px;
  }
}

.modal-body {
  overflow-x: auto;
}


