<div class="card teal">
    <div class="card-content white-text">
        <span class="card-title">Timing</span>
        <p>Test visual timing of the system.</p>
    </div>
    <div class="card-action">
        <a href="/web/paradigms/timing/index.html" class="btn skinny white-text">Start</a>
    </div>
</div>