<div class="panel-heading">
  <h3 class="panel-title">Timing</h3>
</div>
<div class="panel-body">
    Test visual timing of the system.
</div>
<ul class="list-group">
  <a href="<%- cardRoot; %>/index.html" class="list-group-item list-group-item-info">
    Start
  </a>
</ul>