.navbar-inverse {
  background-color: #397ad0;
  border-color: #316198;
}
.navbar-inverse .navbar-brand {
  color: #fffff6;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fffdbb;
}