<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
    <title>BCI2000 Browser</title>
    <link rel="stylesheet" type="text/css" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="bci2kbrowser.css">
    <link rel="stylesheet" type="text/css" href="node_modules/normalize-css/normalize.css">
</head>
<body>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="node_modules/bci2k/dist/bci2k.js"></script>

    <script>
        $( document ).ready( function() {
            $( '.modal' ).modal();
        } );

        bci = new BCI2K.Connection();
        var systemState = null;
        function getState() {
            bci.execute( 'Get System State', function( result ) {
                systemState = $.trim( result.output );
                $( '#systemStatus' ).text( 'System State: ' + systemState );
                var color = 'orange';
                if( systemState == 'Running' ) color = 'red';
                else if( systemState == 'Idle') color = 'green';
                $( '#systemStatus' ).css( 'color', color );
                $( '#systemStatus' ).css( 'font-weight', 'bold' );
            } );
            setTimeout( getState, 1000 );
        }

        bci.onconnect = function( event ) {
            getState();
            bci.getVersion( function( version ) {  
                $( '#systemVersion' ).text( 'Version: ' + version );
            } );
        }
        bci.ondisconnect = function( event ) {
            console.log( "BCI2000 connection closed" );
        }

        function checkReset() {
            if( systemState == null ) return;
            else if( systemState == 'Running' )
                $( '#resetPrompt' ).modal( 'open' );
            else doReset();
                
        }
        function doReset() {
            bci.resetSystem();
        }

        bci.connect();
    </script>

    <div id="controls" class="z-depth-2">
        <center><img src="BCI2000.gif" ></center>
        <br>

        <div class="divider"></div>
        <div class="section">
            <h5>Local Config</h5>
            <div class="row">
                <p id="subjectID">Subject: ... </p>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn skinny" onclick="editLocalConfig()">Edit</a>
                </div>
            </div>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5>System</h5>
            <div class="row">
                <p id="systemStatus">System State: ...</p>
                <p id="systemVersion">Version: ...</p>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn skinny" onclick="checkReset()">Reset System</a>
                </div>
            </div>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5>Other Stuff</h5>
            <div class="row">
                <div class="col">
                    <a class="btn skinny" href="replay">Replay</a>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <% cards.forEach( function( card ){ %>
            <div class="row">
                <%- include( card ); %>
            </div>
        <% }); %>
    </div>

    <div id="resetPrompt" class="modal">
        <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>
                The BCI2000 system state is currently <b>Running</b>. 
                This means that BCI2000 is currently recording and saving data. 
                There could be an experiment running.
                Are you sure you want to reset the system?
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="doReset()">Restart System</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>
  
</body>
</html>